@charset "utf-8";
/* CSS Document */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Raleway, sans-serif;
}

.container {
	width: 1060px;
	margin: 0 auto;
}

.clearfix:before, .clearfix:after {  
	display: block;
	content: "";
	clear: both;
}

header {
	width: 100%;
	height: 40px;
	background-color: black;
}

.logo {
	font-family: Raleway;
	font-size: 14px;
	font-weight: 600;
	line-height: 40px;
	color: #ffffff;
	float: left;
}

.logoWord {
	font-family: Raleway;
	font-size: 14px;
	font-weight: 600;
	line-height: 40px;
	color: #27c7ab;
}

nav {
	float: right;
}

.mainMenu p {
	display: inline-block;
	font-family: Raleway;
	font-size: 14px;
	font-weight: 700;
	line-height: 40px; 
	color: #ffffff;
	margin-left: 25px;
}

.dropdown-content p {
	font-size: 16px;
	font-weight: 500;
	line-height: 20px;
	margin-top: 5px;
}

.menuItem {
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: black;
	width: 120px;
	height: 96px;
	color: white;
	padding: 5px;
	margin-top: 10px;
	margin-bottom: 5px;
	
}

.dropdown:hover .dropdown-content {
	display: block;
}

/* główny slider */

#mainSlider {
	width: 100%;
	height: 500px;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #c4c4c4 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#c4c4c4 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #ffffff 0%,#c4c4c4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c4c4c4',GradientType=0 ); /* IE6-9 */

}

.next, .prev {
	vertical-align: middle;
	display: inline-block;
	font-family: Raleway;
	color: #24baa0;
	font-size: 78px; /* Przybliżenie (wynika z podstawienia czcionki) */
	font-weight: 300;
	line-height: 20px; /* Przybliżenie (wynika z podstawienia czcionki) */
}

.sliderImg {
	display: inline-block;
	margin-top: 100px;
	vertical-align: middle;
}

.sliderTxt {
	display: inline-block;
	vertical-align: middle;
}

.sliderTxt h1 {
	font-family: Raleway;
	color: #000000;
	font-size: 40px; /* Przybliżenie (wynika z podstawienia czcionki) */
	font-weight: 500;
	line-height: 20.371px; /* Przybliżenie (wynika z podstawienia czcionki) */
	text-align: center;
	

}

.sliderTxt p {
	width: 421px;
	height: 90px;
	font-family: Raleway;
	color: #000000;
	font-size: 14px; /* Przybliżenie (wynika z podstawienia czcionki) */
	font-weight: 400;
	line-height: 21.37px; /* Przybliżenie (wynika z podstawienia czcionki) */
	text-align: center;
}

.sliderButton {
	background-color: #24baa0;
	width: 264px;
	height: 53px;
	border: none;
	font-family: Raleway;
	color: #ffffff;
	font-size: 24px; /* Przybliżenie (wynika z podstawienia czcionki) */
	font-weight: 500;
	line-height: 20.371px; /* Przybliżenie (wynika z podstawienia czcionki) */
	text-align: center;
}

